@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.custom-colors {
	background-color: rgb(128, 21, 21);
}

body {
	background-color: rgb(212,106,106);
	background-image: url(images/redwall.jpg);
}

.main-view {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.showcase video{
	max-width: 100%;
	height: 100%;
	z-index: -1;
	
}
.main-card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
}

.menu-Padding {
	margin-top: 200px;
}

.logo {
	font-family: 'Open Sans', sans-serif;
}

/*set logo top margin for larger screens*/
@media only screen and (min-width: 280px) {
	.logo {
		margin-top: 200px;
	}
	.landingPadding {
		margin-top: 50px;
		margin-right: 80px;
	}
	.img-responsive{
		height: auto;
		width: auto;
		max-height: 72px;
		max-width: 250px;
	}
}

@media only screen and (min-width: 768px){
	.landingPadding {
		margin-top: 50px;
		margin-right: 80px;
	}
}

@media only screen and (min-width: 1024px) {
	.landingPadding {
		margin-top: 160px;
		margin-right: 80px;
	}
}

.serviceCards {
	padding-top: 250px;
	padding-bottom: 200px;
	color: white;
	padding-right: 20px;
}

.card-margin {
	padding-bottom: 20px;
}

.form-padding {
	padding-top: 350px;
	padding-bottom: 200px;
}

@media only screen and (max-width: 401px) {
	.serviceCards {
		padding-top: 200px;
		padding-bottom: 100px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 850px) {
	.serviceCards {
		padding-top: 400px;
		padding-bottom: 100px;
	}
}

@media only screen and (min-width: 851px) and (max-width: 921px) {
	.serviceCards {
		padding-top: 300px;
		padding-bottom: 100px;
	}
}

@media screen and (min-width: 320px) and (max-width: 860px) and (orientation: landscape) {
  .landingPadding{
  	padding-top: 250px;
  }
  .serviceCards {
  	padding-top: 350px;
  }
}

.contact-box {
	border: 2px solid #ddd;
	padding: 20px;
	border-radius: 8px;
	position: relative;
	margin-top: 500px;

}
.contact-box::before {
	content: "CONTACT US";
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.contact-background {
	background-color: white;
}

.bottom-padding {
	padding-bottom: 300px;
}

.social {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 350px;
	padding-bottom: 50px;
}
.social li{
	list-style: none;
	display: inline-block;
}

.social li a {
	display: inline-block;
	transform: scale(0.5);
	transition: 0.2s;
}

.social li a:hover{
	transform: scale(0.5) translateY(-15px);
}

.button-padding {
	margin-top: 15px;
}

.checkout-padding {
	padding-top: 400px;
	padding-bottom: 450px;
}